body {
	font-family: Arial, Helvetica, sans-serif;
    }

.navbar {
  width: 100%;
  background-color: #F36265;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  width: 18.4%;
  text-align: center;
}

.navbar a:hover {
  background-color: #FC494C;
}

.active {
  background-color: #E53B3F;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
	width: 100%;
	text-align: left;
  }
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 654px;
  height: 585px;
  float: center;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.social-links{
    display: flex;
}

.social-links ul{
    padding: 15px;
    display: flex;
    width: 300px;
    height:30px;
    margin: auto;
}

.social-items{
    list-style: none;
}

.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: red;
}

.outer-footer{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}
